body {
    font-family: system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", 'Arial', "Ubuntu";
    font-size: 1em;
    color: #252525;
    Ñolor: purple;
    line-height: 1.5;
}
h1 {
    color: #303030;
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
    line-height: 1.25;
    margin-top: 15px;
    }
h2 {
    color: #252525;
    font-size: 1.3em;
    font-weight: 600;
    text-align: left;
    line-height: 1.5em;
    margin-bottom: -5px;
    scroll-margin-top: 15px;
}
h3 {
    color: #252525;
    font-size: 1.15em;
    font-weight: 600;
    text-align: left;
    line-height: 1.25em;
    margin-bottom: -5px;
    scroll-margin-top: 15px;
}
h4 {
    color: #252525;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    line-height: 1.25;
    margin-top: 15px;
    margin-bottom: 0;
    scroll-margin-top: 15px;
}
h5 {
    font-style: italic;
    color: #252525;
    font-size:0.85em;
    font-weight: 400;
    text-align: left;
    line-height: 1.25em;
    margin-top: -5px;
    margin-bottom: 0px;
    scroll-margin-top: 15px;
}
p {
    font-size: 1em;
    color: #151515;
    line-height: 1.5;
    margin: 12.5px 0 0 0;
}
page-container {
    display: block;
    width: 100%;
}
main-container {
    display: grid;
    grid-template-columns: 67% 33%;
    width: 88%;
    margin: 0 0 0 12%;
}
sub-container {
    display: block;
    width: 100%;
}
content-container {
    display: block;
    width: 93%;
    margin: 0 auto;
    text-align: justify;
}
main-container > nav {
    position: sticky;
    top: 0;
    align-self: start;
    overflow: scroll;
    scrollbar-width: none;
}
.toc {
    width: 100%;
    margin-top: 0.4em;
    padding-top: 0.2em;
    /* padding-right: 2em; */
    height: 750px;
    font-size: 0.85rem;
    color: #606060;
}
.toc a {
    text-decoration: none;
    /* color: #606060; */
    cursor: pointer;
    /* transition: all 25ms ease-in-out; */
}
.toc a:hover,
.toc a:focus {
    color: #1E5FA5;
}
.toc ol {
    display: block;
    list-style: none;
    padding-left: 2em;
}
.toc ul {
    list-style: none;
    padding-left: 2.5em;
    padding-left: 0;
}
.toc li {
    text-align: left;
}
.toc li.active > a {
    font-weight: 600;
    color: #1E5FA5;
    padding-right: 1.5em;
    /* white-space: nowrap; */
}
ul {
    list-style-type: disc;
    line-height: 1.5;
    margin-top: 5px;
    color: #151515;
    }
li {
    font-family: system-ui;
    line-height: 1.75em;
    text-align: justify
}
img-center {
    display: flex;
    justify-content: center;
}
img-margin {
    margin-left: 30px;
}
section {
    scroll-margin-top: 15px;
}
space {
    display: block;
    margin-top: 12.5px;
    content: ' '
}
space20 {
    display: block;
    margin-top: 20px;
    content: ' '
}
space2 {
    display: block;
    margin-top: 20px;
    content: ' '
}
space25 {
    display: block;
    margin-top: 25px;
    content: ' '
}
a {
    font-size: 1em;
    scroll-margin-top: 15px;
}
a:link {
    font-family: system-ui;
    text-decoration: none;
    color: #1E5FA5;
}
a:visited {
    font-family: system-ui;
    color: #1E5FA5;
}
a:hover {
    font-family: system-ui;
    color: #2373C7;
    text-decoration: none;
}
a:active {
    font-family: system-ui;
    color: #2D8CF1;
}
sb {
    font-weight: 600;
}
#toTocBtn {
    display: none;
    position: fixed;
    margin-left: 845px;
    bottom: 2em;
    z-index: 99;
    border: none; 
    outline: none; 
    background-color: #F1F1F1;
    color: #1B60AA; 
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.9em;
}
#toTocBtn:hover {
    background-color: #E1E1E1;
    border: none; 
    color: #1B60AA;
}
span.emoji {
    font-size: 20px;
}
.change-size {
    transform: scale(1.35);
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}
hr.grey {
    height: 1px;
    background-color: #DADADA;
    border-width: 0;
    margin: 1em auto 1em auto;
}
/* if desktop */
.mobile_device_380px {
    display: none;
}
.mobile_device_480px {
    display: none;
}
.mobile_device_1000px {
    display: none;
}
/* if mobile device max width 380px */
@media only screen and (max-device-width: 380px) {
    .desktop {display:none;}
    .mobile_device_380px{display: block;}
    .mobile_device_480px{display: none;}
    .mobile_device_1000px{display: none;}
    img {width:100%;display:flex;justify-content: center;}
    li {text-align:left}
    h1 {text-align:center}
    h2 {text-align:center}
    h3 {text-align:center}
    h4 {text-align:center}
    h5 {text-align:center}
} 
/* if mobile device max width 480px */
@media only screen and (max-device-width: 480px) {
    .desktop {display: none;}
    .mobile_device_380px{display: none;}
    .mobile_device_480px{display: block;}
    .mobile_device_1000px{display: none;}
    img {width:100%;display:flex;justify-content: center;}
    li {text-align:left}
    h1 {text-align:center}
    h2 {text-align:center}
    h3 {text-align:center}
    h4 {text-align:center}
    h5 {text-align:center}
}
/* if mobile device max width 1000px */
@media only screen and (max-device-width: 1000px) {
    .desktop {display: none;}
    .mobile_device_380px{display: none;}
    .mobile_device_480px{display: none;}
    .mobile_device_1000px{display: block;}
    img {width:100%;display:flex;justify-content:center;}
    li {text-align:left}
    h1 {text-align:center}
    h2 {text-align:center}
    h3 {text-align:center}
    h4 {text-align:center}
    h5 {text-align:center}
}